<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <script type="application/javascript" src="../../static/js/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="../../static/component/utils.js"></script>

</head>
<body>
<div id="main">
    <form action="" @submit.prevent="submit" class="submit-form">
        <label for="title"><b>保存商品信息</b></label>
        <input type="text" placeholder="请输入商品标题" class="form-input" v-model="itemData.title" id="title">
        <input type="text" placeholder="请输入商品价格" class="form-input" v-model="itemData.price">
        <input type="text" placeholder="请输入商品描述" class="form-input" v-model="itemData.description">
        <input type="text" placeholder="请输入商品图片地址" class="form-input" v-model="itemData.imgUrl">
        <input type="text" placeholder="请输入商品库存" class="form-input" v-model="checkStock">
        <!--        <div>{{registerData.optCode}}</div>-->
        <button type="submit">保存商品信息</button>
        <span :class="{showError: isShow, showNone:!isShow}">{{info}}</span>
    </form>
</div>

<script>
    var vm = new Vue({
        el: "#main",
        data: {
            isShow: false,
            itemData: {
                title: "",
                price: "",
                description: "",
                imgUrl: "",
                stock: "",
            },
            info: ""

        },
        computed: {
            checkStock: {
                get() {
                    return this.itemData.stock;
                },
                set(value) {
                    let reg = new RegExp(/^[0-9]+$/);
                    if (!reg.test(value)) {
                        this.info = "手机号不能有字母";
                        this.isShow = true;
                    } else {
                        this.itemData.stock = value;
                        this.info = "";
                        this.isShow = false;
                    }
                }
            },
        },
        methods: {
            submit: function () {
                if (this.check(this.itemData) === false) {
                    return;
                }
                this.send(this.itemData);
            },
            // 查询数据是否缺少
            check: function (objData) {
                let info = "";
                for (let key in objData) {
                    if (objData[key] === null || objData[key] === "") {
                        info += "缺少" + key + " ";
                    }
                }
                if (info !== "") {
                    this.info = info;
                    this.isShow = true;
                    return false;
                }

            },
            // 默认请求头部的 Content-Type: application/json，并且请求正文是一个 json 格式的字符串
            send(formData) {
                let that = this;
                let instance = window.utils.getInstance();
                instance({
                    url: "http://127.0.0.1:8080/item/create",
                    method: "post",
                    data: formData,
                    // 允许在向服务器发送请求前，修改请求数据，只能用在 put post patch
                    // 数组返回 字符串 ArrayBuff Stream
                    transformRequest: [function (data) {
                        // Do whatever you want to transform the data
                        let ret = '';
                        for (let it in data) {
                            ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
                        }
                        // 去除最后一位
                        return ret.substr(0, ret.length - 1);
                    }],
                    // 使用凭证
                    withCredentials: true
                }).then(function (response) {
                    let data = response.data;
                    console.log(data);
                    if (data.status === "success") {
                        alert("保存商品信息成功");
                        that.info = "保存商品信息成功";
                        that.isShow = false;
                    }
                    if (data.status === "fail") {
                        that.info = data.data.errMsg;
                        that.isShow = true;
                    }
                }).catch(function (error) {
                    console.log(error);
                })
            },
            toLogin() {
                window.location.href = "/miaosha/templates/User/login.html";
            }
        }
    })
</script>
</body>
</html>