<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <script type="application/javascript" src="../../static/js/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="../../static/component/utils.js"></script>
    <script src="../../static/js/g_host.js"></script>

</head>
<body>
<div id="main">
    <div>

        <form action="" class="submit-form" @submit.prevent="miaosha">
            <table style="width: 100%">
                <thead>
                <tr>
                    <th>商品名</th>
                    <th v-if="itemObj.promoStatus == 0 || itemObj.promoStatus == 1 || itemObj.promoStatus == 2"
                        style="color: mediumvioletred">秒杀开始时间
                    </th>
                    <th>商品图片</th>
                    <th>商品描述</th>
                    <th>商品库存</th>
                    <th>商品销量</th>
                    <th v-if="itemObj.promoStatus == 0 || itemObj.promoStatus == 1 || itemObj.promoStatus == 2"
                        style="color: mediumvioletred">秒杀价格
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{itemObj.title}}</td>
                    <td v-if="itemObj.promoStatus == 0" style="color: mediumvioletred">
                        <p v-bind="calTime">
                            秒杀将于{{itemObj.promoStartTime}}开始, 倒计时{{delta}}秒
                        </p>
                    </td>
                    <td v-else-if="itemObj.promoStatus == 1" style="color: mediumvioletred">
                        <p>正在秒杀中</p>
                    </td>
                    <td v-else-if="itemObj.promoStatus == 2" style="color: mediumvioletred">
                        秒杀结束
                    </td>
                    <td><img :src="itemObj.imgUrl" alt="" style="width: 200px; height: 100px"></td>
                    <td>{{itemObj.description}}</td>
                    <td>{{itemObj.stock}}</td>
                    <td>{{itemObj.sales}}</td>
                    <td v-if="itemObj.promoStatus == 0 || itemObj.promoStatus == 1 || itemObj.promoStatus == 2"
                        style="color: mediumvioletred">
                        {{itemObj.promoPrice}}
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit"
                    v-if="itemObj.promoStatus != 0 && itemObj.promoStatus != 1 && itemObj.promoStatus != 2">正常售卖
            </button>
            <button type="submit" v-if="itemObj.promoStatus == 1">秒杀!!!!!!!!!!!</button>
        </form>
    </div>
    <span :class="{showError: isShow, showNone:!isShow}">{{info}}</span>
</div>

<script>
    var vm = new Vue({
        el: "#main",
        data: {
            isShow: false,
            info: "",
            itemObj: {
                promoStatus: 0,
                promoStartTime: "未进行",
                promoId: null,
                promoPrice: "未进行",
            },
            delta: "未进行"

        },
        computed: {
            calTime() {
                let that = this;
                let delta;
                let timer = setInterval(function () {
                    // 将 - 替换为 /
                    let startTime = that.itemObj.promoStartTime.replace(new RegExp("-", "gm"), "/");
                    startTime = (new Date(startTime)).getTime();
                    let nowTime = Date.parse(new Date());
                    delta = (startTime - nowTime) / 1000;
                    console.log(delta);
                    if (delta === 0) {
                        that.itemObj.promoStatus = 1;
                        clearInterval(timer);
                    } else if (delta < 0) {
                        clearInterval(timer);
                    } else {
                        that.delta = delta;
                    }
                }, 1000);
            }
        },
        methods: {
            miaosha: function () {
                let that = this;
                let id = that.itemObj.id;
                if (id === "" || id === undefined || id === null) {
                    that.isShow = true;
                    that.info = "缺失id";
                } else {
                    // 默认抢一个
                    that.updateOrder(that.itemObj.id, that.itemObj.promoId, 1);
                }
            },
            // 查询数据是否缺少
            check: function (objData) {
                let info = "";
                for (let key in objData) {
                    if (objData[key] === null || objData[key] === "") {
                        info += "缺少" + key + " ";
                    }
                }
                if (info !== "") {
                    this.info = info;
                    this.isShow = true;
                    return false;
                }

            },
            // 默认请求头部的 Content-Type: application/json，并且请求正文是一个 json 格式的字符串
            send(itemId) {
                let that = this;
                let instance = window.utils.getInstance();
                axios({
                    url: "http://" + g_host + "/item/get" + "?itemId=" + itemId,
                    method: "get",
                    // 使用凭证
                    withCredentials: true
                }).then(function (response) {
                    let data = response.data;
                    if (data.status === "success") {
                        that.info = "获取商品信息成功";
                        that.isShow = false;
                        that.itemObj = data.data;
                    }
                    if (data.status === "fail") {
                        that.info = data.data.errMsg;
                        that.isShow = true;
                    }
                }).catch(function (error) {
                    console.log(error);
                })
            },
            updateOrder(itemId, promoId, itemAccount) {
                let that = this;
                let instance = window.utils.getInstance();
                instance({
                    url: "http://" + g_host + "/order/newOne" + "?token=" + window.localStorage["token"],
                    method: "post",
                    data: {
                        itemId: itemId,
                        itemAccount: itemAccount,
                        promoId: promoId
                    },
                    // 数组返回 字符串 ArrayBuff Stream
                    transformRequest: [function (data) {
                        // Do whatever you want to transform the data
                        let ret = '';
                        for (let it in data) {
                            ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
                        }
                        // 去除最后一位
                        return ret.substr(0, ret.length - 1);
                    }],
                    // 使用凭证
                    withCredentials: true
                }).then(function (response) {
                    console.log(response);
                    let data = response.data;
                    if (data.status === "success") {
                        that.info = "秒杀成功";
                        that.isShow = false;
                        window.location.reload();
                    }
                    if (data.status === "fail") {
                        that.info = data.data.errMsg;
                        that.isShow = true;
                        if (data.data.errCode === 20005) {
                            window.location.href = "http://localhost:63342/miaosha/templates/User/login.html"
                        }
                    }
                }).catch(function (error) {
                    console.log(error);
                })
            },
            // 获取参数字符串
            getQueryString(keyName) {
                var reg = new RegExp("(^|&)" + keyName + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }
        }
    });
    let itemId = vm.getQueryString("itemId");
    if (itemId !== null && itemId !== '' && itemId !== undefined) {
        vm.send(vm.getQueryString("itemId"));
    }

</script>
</body>
</html>