<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nekosighed.miaosha.dao.UserPasswordDOMapper">
  <resultMap id="BaseResultMap" type="com.nekosighed.miaosha.pojo.UserPasswordDO">
    <!--
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="encrpt_password" jdbcType="VARCHAR" property="encrptPassword" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    -->
    delete from user_password
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nekosighed.miaosha.pojo.UserPasswordDO">
    <!--
    -->
    insert into user_password (id, user_id, encrpt_password
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{encrptPassword,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nekosighed.miaosha.pojo.UserPasswordDO">
    <!--
    -->
    update user_password
    set user_id = #{userId,jdbcType=INTEGER},
      encrpt_password = #{encrptPassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    -->
    select id, user_id, encrpt_password
    from user_password
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
    -->
    select id, user_id, encrpt_password
    from user_password
  </select>

  <select id="getUserPasswordByUserId" resultMap="BaseResultMap">
    select * from user_password
    where user_id = #{id}
  </select>
</mapper>